@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Spicy Rice";
    src: url("./Font/RetroCool-Regular.ttf");
  }

  @font-face {
    font-family: "Questrial";
    src: url("./Font/Questrial-Regular.ttf");
  }